flask ~= 1.0.4
bjoern
httplib2
python-dateutil
requests==2.20.0
redis
hiredis
gevent
sentry-sdk[flask]
numpy
scikit-learn
pandas
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.0+cpu
torchvision==0.8.1+cpu
